body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

/* Top */
.top {
    background-color: #FCCB08;
    margin-bottom: 2%;
    height: 30%;
    width: 97vw;
    overflow: hidden;
}

.verticalLine{
    border-right: .9rem solid #BB4107;
    height: max-content;
    position: absolute;
    top: 0;
}

header ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
}

.top ul li {
    float: right;
}

.phone {
    margin-right: 3%;
    margin-top: -.5%;
    display: block;
}

.email {
    margin-right: 3%;
    margin-top: -.5%;
    display: block;
}

/* End Top */


/* Header */

.logo {
    float: left;
    margin-top: 1%;
    margin-left: 7%;
    margin-bottom: 2%;
    background-size: auto;
}

nav ul li a {
    float: right;
    display: block;
    margin-right: 3%;
    margin-top: 2.5%;
    padding: 1%;
    color: #BB4107;
    font-weight: bold;
}

.coverImg {
    background:linear-gradient(to left, rgba(249, 195, 8, 0.6), rgba(187, 65, 7, 0.5)), url(../assets/img/cover.png);
    width: 97vw;
    height: 65vh;
    margin-top: 10%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.coverImg .titulo{
    color: #fff;
    font-size: 25px;
    text-align: right;
    margin-right: 1.5%;
    margin-bottom: -90px;
    margin-top: 155px;
}

.coverImg .subtitulo{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    margin-top: 7%;
    margin-right: 1.5%;
}

.container h2{
    color: #BB4107;
    font-weight: bold;
    float: left;
    margin-left: 10%;
    overflow: hidden;
}

.textoNosotros{
    margin-left: 10%;
}

.imgNosotros{
    width: 560px;
    height: auto;
    margin-left: 52.5%;
    margin-top: -32%;
    filter: brightness(0.5);
}

.textoValores{
    color: #DA8841;
    font-weight: bold;
    float: left;
    margin-left: 10%;
    overflow: hidden;
}



    /* -----Card 1 ----- */
.backgroundIcon1{
    width: 100px;
    height: 100px;
    margin-left: 32%;
    margin-top: -10%;
    background-color: #BB4107;
    border-radius: 10%;
    overflow: visible;
}

.card1{
    width: 280px;
    height: 570px;
    border-radius: 2%;
    float: left;
    margin-left: -16%;
    margin-top: 10%;
    background-color: #EAEAEA;
    overflow: visible;
    display: inline-block;
}

.icon1{
    width: 70px;
    height: 70px;
    margin-left: 15px;
    margin-top: 18px;
    filter: invert(1);
    overflow: hidden;
}

.textoCompromiso{
    color: #BB4107;
    float: left;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 25%;
    overflow: hidden;
}

.textAlign{
    text-align: center;
}   /* -----End Card 1 ----- */




    /* -----Card 2 ----- */
.backgroundIcon2{
    width: 100px;
    height: 100px;
    margin-left: 32%;
    margin-top: -10%;
    background-color: #BB4107;
    border-radius: 10%;
    overflow: visible;
}

.card2{
    width: 280px;
    height: 570px;
    border-radius: 2%;
    float: left;
    margin-left: 2%;
    margin-top: 10%;
    background-color: #EAEAEA;
    overflow: visible;
    display: inline-block;
}

.icon2{
    width: 70px;
    height: 70px;
    margin-left: 15px;
    margin-top: 18px;
    filter: invert(1);
    overflow: hidden;
}

.textoCalidad{
    color: #BB4107;
    float: left;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 34%;
    overflow: hidden;
}   /* -----End Card 2 ----- */




    /* -----Card 3 ----- */

.backgroundIcon3{
    width: 100px;
    height: 100px;
    margin-left: 32%;
    margin-top: -10%;
    background-color: #BB4107;
    border-radius: 10%;
    overflow: visible;
}

.card3{
    width: 280px;
    height: 570px;
    border-radius: 2%;
    float: left;
    margin-left: 2%;
    margin-top: 10%;
    background-color: #EAEAEA;
    overflow: visible;
    display: inline-block;
}

.icon3{
    width: 70px;
    height: 70px;
    margin-left: 15px;
    margin-top: 18px;
    filter: invert(1);
    overflow: hidden;
}

.textoPuntualidad{
    color: #BB4107;
    float: left;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 25%;
    overflow: hidden;
}  /* -----End Card 3 ----- */




   /* -----Card 4 ----- */

.backgroundIcon4{
    width: 100px;
    height: 100px;
    margin-left: 32%;
    margin-top: -10%;
    background-color: #BB4107;
    border-radius: 10%;
    overflow: visible;
}

.card4{
    width: 280px;
    height: 570px;
    border-radius: 2%;
    float: left;
    margin-left: 2%;
    margin-top: 10%;
    background-color: #EAEAEA;
    overflow: visible;
    display: inline-block;
}

.icon4{
    width: 70px;
    height: 70px;
    margin-left: 15px;
    margin-top: 18px;
    filter: invert(1);
    overflow: hidden;
}

.textoServicio{
    color: #BB4107;
    float: left;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 34%;
    overflow: hidden;
} /* -----End Card 4 ----- */


.containerMisionVision{
    float: left;
    background-color: #BB4107;
    margin-top: 50px;
    height: 250px;
    width: 97vw;
    overflow: hidden;
}

.tituloMision, .tituloVision{
    color: #fff;
    font-size: 35px;
    margin-bottom: -10px;
}


.textoMision, .textoVision{
    color: #FFFFFF;
    font-weight: lighter;
}

.mision{
    float: left;
    overflow: hidden;
    margin-left: 10%;
}

.vision{
    float: left;
    overflow: hidden;
    margin-left: 5%;
}

.tituloLista{
    color: #BB4107;
    float: left;
    font-size: 35px;
    margin-left: 10%;
    margin-top: 7%;
}

.lista1{
    color: #BB4107;
    float: left;
    overflow: hidden;
    margin-top: 13%;
    margin-left: -20%;
    line-height : 25px;
}

.lista2{
    color: #BB4107;
    float: left;
    overflow: hidden;
    margin-top: 13%;
    margin-left: 10%;
    line-height : 25px;
}

.lista3{
    color: #BB4107;
    float: left;
    overflow: hidden;
    margin-top: 13%;
    margin-left: 10%;
    line-height : 25px;
}

.tituloTabla{
    color:#DA8841;
    float: left;
    font-size: 35px;
    margin-left: 10%;
    margin-top: 7%;
    margin-bottom: -5%;
}

.subtitulosTabla{
    color: #DA8841;
    float: left;
    font-size: 30px;
    margin-left: 2%;
}

.tabla1{
    border: #FCCB08 solid 1px;
    float: left;
    overflow: hidden;
    margin-top: 11%;
    margin-left: -12.9%;
    line-height : 25px;
}

.tabla1 td{
    border-bottom: #FCCB08 solid 1px;
    border-top: #FCCB08 solid 1px;
    overflow: hidden;
}

.textoTabla{
    text-align: left;
    margin-left: 2%;
    margin-top: -1%;
    font-size: 15px;
    font-weight: lighter;
}

.imgAluminio{
    width: 400px;
    height: auto;
    margin-left: -3%;
    margin-top: -10%;
}

.td1{
    width: 700px;
}

.imgTriangulo1{
    float: left;
    width: 40px;
    height: auto;
    margin-left: -2.8%;
    margin-top: 44.7%;
}

.imgTriangulo2{
    float: left;
    width: 40px;
    height: auto;
    margin-left: -2.8%;
    margin-top: 64.6%;
}

.imgTriangulo3{
    float: left;
    width: 40px;
    height: auto;
    margin-left: -2.8%;
    margin-top: 11%;
}


.menos1{
    float: left;
    font-size: 35px;
    margin-left: -1.3%;
    margin-top: 9.9%;
}

.menos2{
    float: left;
    font-size: 35px;
    margin-left: -1.3%;
    margin-top: 43.7%;
}

.menos3{
    float: left;
    font-size: 35px;
    margin-left: -1.3%;
    margin-top: 63.7%;
}

.tabla2{
    float: left;
    overflow: hidden;
    line-height : 25px;
    margin-top: 50px;
    height: 200px;
    width: 97vw;
    overflow: hidden;
}

.tabla2 td{
    border: #BB4107 solid 1px;
    overflow: hidden;
    background-color: #f3f3f3;
}

.subtituloTabla{
    color: #BB4107;
    float: left;
    font-size: 30px;
    margin-left: 2%;
    margin-top: 4%;
}


.textoTb{
    text-align: left;
    margin-left: 2%;
    margin-top: -1%;
    font-size: 15px;
    width: 700px;
    height: 250px;
}

.textoNegritas{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.subtituloChico{
    color: #BB4107;
    float: left;
    font-size: 20px;
    margin-top: 4%;
    margin-left: 18%;
    text-align: center;
}

.federalMogul{
    float: left;
    width: 400px;
    height: auto;
    margin-left: 20%;
    margin-top: -5%;
}

.rassini{
    float: left;
    width: 300px;
    height: auto;
    margin-left: 12%;
    margin-top: -5%;
}

.caso1, .caso2{
    float:center;
    margin-top: 1%;
    margin-left: 1%;
}

.textoT{
    text-align: center;
    margin-left: 2%;
    margin-top: -1%;
    font-size: 15px;
}

.titulo1{
    color: #BB4105;
    float: left;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 7%;
}

.titulo2{
    color: #D26F1F;
    float: left;
    font-size: 22px;
    margin-left: -24.9%;
    margin-top: 12.6%;
}

.hr1{
    float: left;
    width: 85%;
    border: rgba(232, 230, 230, 0.908) 1px solid;
    margin-top: 4%;
    margin-left: 5%;
}

.poliuretano1{
    float: left;
    margin-top: .5%;
    margin-left: 5%;
    width: 200px;
    height: auto;
}

.poliuretano2{
    float: left;
    margin-top: .5%;
    margin-left: 3%;
    width: 200px;
    height: auto;
}

.poliuretano3{
    float: left;
    margin-top: .5%;
    margin-left: 3%;
    width: 200px;
    height: auto;
}

.poliuretano4{
    float: left;
    margin-top: .5%;
    margin-left: 3%;
    width: 200px;
    height: auto;
}

.poliuretano5{
    float: left;
    margin-top: .5%;
    margin-left: 3%;
    width: 200px;
    height: auto;
}

.poliuretano6{
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    width: 200px;
    height: auto;
}

.poliuretano11{
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    width: 200px;
    height: auto;
}

.poliuretano12{
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    width: 200px;
    height: auto;
}

.poliuretano13{
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    width: 200px;
    height: auto;
}

.poliuretano7{
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    width: 200px;
    height: auto;
}

.poliuretano8{
    float: left;
    margin-top: .85%;
    margin-left: 3%;
    width: 200px;
    height: auto;
}

.poliuretano9{
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    width: 200px;
    height: auto;
}

.poliuretano10{
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    width: 200px;
    height: auto;
}

.titulo3{
    color: #D26F1F;
    float: left;
    font-size: 22px;
    margin-left: -30%;
    margin-top: 17%;
}

.hr2{
    float: left;
    width: 85%;
    border: rgba(232, 230, 230, 0.908) 1px solid;
    margin-top: .5%;
    margin-left: 5%;
}

.aluminio1{
    float: left;
    margin-top: .5%;
    margin-left: 5%;
    width: 300px;
    height: auto;
}

.aluminio2{
    float: left;
    margin-top: .5%;
    margin-left: 3%;
    width: 150px;
    height: auto;
}

.aluminio3{
    float: left;
    margin-top: .5%;
    margin-left: 3%;
    width: 150px;
    height: auto;
}

.aluminio9{
    float: left;
    margin-top: .5%;
    margin-left: 3%;
    width: 300px;
    height: auto;
}

.aluminio4{
    float: left;
    margin-top: .5%;
    margin-left: 3%;
    width: 150px;
    height: auto;
}

.aluminio5{
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    width: 150px;
    height: auto;
}

.aluminio6{
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    width: 150px;
    height: auto;
}

.aluminio7{
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    width: 150px;
    height: auto;
}

.aluminio8{
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    width: 150px;
    height: auto;
}

.aluminio10{
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    width: 300px;
    height: auto;
}

.aluminio11{
    float: left;
    margin-top: 18%;
    margin-left: -73.69%;
    width: 300px;
    height: auto;
}

.aluminio15{
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    width: 145px;
    height: auto;
} 

.aluminio12{
    float: left;
    margin-top: 18%;
    margin-left: -63%;
    width: 300px;
    height: auto;
} 

.aluminio13{
    float: left;
    margin-top: 18%;
    margin-left: -39.2%;
    width: 300px;
    height: auto;
} 

.aluminio14{
    float: left;
    margin-top: 18%;
    margin-left: -15.7%;
    width: 145px;
    height: auto;
}

.aluminio16{
    float: left;
    margin-top: 33.5%;
    margin-left: -86.69%;
    width: 145px;
    height: auto;
}

.aluminio17{
    float: left;
    margin-top: 33.5%;
    margin-left: -73%;
    width: 145px;
    height: auto;
}

.aluminio18{
    float: left;
    margin-top: 33.5%;
    margin-left: -59.3%;
    width: 145px;
    height: auto;
}

.aluminio19{
    float: left;
    margin-top: 33.5%;
    margin-left: -45.7%;
    width: 145px;
    height: auto;
}

.aluminio20{
    float: left;
    margin-top: 33.5%;
    margin-left: -32%;
    width: 300px;
    height: auto;
}

.titulo4{
    color:  #D57117;
    float: left;
    font-size: 22px;
    margin-left: -86%;
    margin-top: 47%;
}

.hr3{
    float: left;
    width: 85%;
    border: rgba(232, 230, 230, 0.908) 1px solid;
    margin-top: 38%;
    margin-left: 5%;
}

.abrazadera1{
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    width: 200px;
    height: auto;
}

.abrazadera2{
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    width: 200px;
    height: auto;
}

.abrazadera3{
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    width: 200px;
    height: auto;
}

.abrazadera4{
    float: left;
    margin-top: 2%;
    margin-left: 3%;
    width: 200px;
    height: auto;
}

footer{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 3%;
    background-color: #FFD207;
    overflow: hidden;
}

.titulo-texto{
    float: left;
    margin-top: 1%;
    margin-left: 4%;
    font-size: 30px;
    font-weight: bold;
    color: #BB4107;
    overflow: hidden;
}

.subtitulo-texto{
    margin-top: 3%;
    margin-left: 4%;
    font-weight: bold;
    overflow: hidden;
}

.texto-footer{
    margin-top: -3%;
    margin-left: 4%;
    text-align: left;
    font-size: 14.5px;
    overflow: hidden;
}

.contacto-nosotros-texto{
    color: #BB4107;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 4%;
    margin-top: 1%;
}

.phone2 {
    color: #BB4107;
    font-weight: bold;
    font-size: 20px;
    margin-left: 1.5%;
    margin-top: 2%;
    display: block;
}

.email2{
    color: #BB4107;
    font-size: 20px;
    font-weight: bold;
    margin-left: 1.5%;
    margin-top: 1%;
    display: block;
}

.siguenos-texto{
    color: #BB4107;
    font-weight: normal;
    font-size: 25px;
    margin-left: 4%;
    margin-top: 1%;
}

.backgroundRedes1{
    width: 100px;
    height: 100px;
    margin-left: 32%;
    margin-top: -10%;
    background-color: #BB4107;
    border-radius: 10%;
    overflow: visible;
}

.backgroundRedes1{
    float: left;
    width: 45px;
    height: 45px;
    margin-left: 4%;
    margin-top: -1.9%;
    background-color: #BB4107;
    border-radius: 10%;
}

.ig{
    width: 30px;
    height: 30px;
    margin-left: 17%;
    margin-top: 17%;
    overflow: hidden;
}

.backgroundRedes2{
    float: left;
    width: 45px;
    height: 45px;
    margin-left: 1%;
    margin-top: -1.9%;
    background-color: #BB4107;
    border-radius: 10%;
}

.fb{
    width: 30px;
    height: 30px;
    margin-left: 17%;
    margin-top: 17%;
    overflow: hidden;
}

.form-label-1{
    float: right;
    margin-top: -43%;
    margin-right: 30.7%;
    font-size: 14px;
    overflow: hidden;
    font-weight: light;
}

.form-name{
    float: right;
    width: 450px;
    height: 40px;
    margin-top: -41%;
    margin-right: 8.7%;
    box-sizing: border-box; 
    border: none;
    border-radius: 10px; 
    overflow: hidden;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.form-label-2{
    float: right;
    margin-top: -36%;
    margin-right: 30.7%;
    font-size: 14px;
    overflow: hidden;
    font-weight: light;
}

.form-email{
    float: right;
    width: 450px;
    height: 40px;
    margin-top: -34%;
    margin-right: 8.7%;
    box-sizing: border-box; 
    border: none;
    border-radius: 10px; 
    overflow: hidden;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.form-label-3{
    float: right;
    margin-top: -29%;
    margin-right: 30.7%;
    font-size: 14px;
    overflow: hidden;
    font-weight: light;
}

.form-tel{
    float: right;
    width: 210px;
    height: 40px;
    margin-top: -27%;
    margin-right: 25.3%;
    box-sizing: border-box; 
    border: none;
    border-radius: 10px; 
    overflow: hidden;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.form-label-4{
    float: right;
    margin-top: -29%;
    margin-right: 15.6%;
    font-size: 14px;
    overflow: hidden;
    font-weight: light;
}

.form-cel{
    float: right;
    width: 210px;
    height: 40px;
    margin-top: -27%;
    margin-right: 8.9%;
    box-sizing: border-box; 
    border: none;
    border-radius: 10px; 
    overflow: hidden;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.form-label-5{
    float: right;
    margin-top: -22%;
    margin-right: 35.3%;
    font-size: 14px;
    overflow: hidden;
    font-weight: light;
}

.form-msg{
    float: right;
    width: 450px;
    height: 150px;
    margin-top: -20%;
    margin-right: 8.9%;
    box-sizing: border-box; 
    border: none;
    border-radius: 10px; 
    overflow: hidden;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    resize: vertical;
}

.form-label-6{
    float: right;
    margin-top: -9%;
    margin-right: 9%;
    font-size: 14px;
    overflow: hidden;
    font-weight: light;
}

.btn{
    float: right;
    width: 200px;
    height: 50px;
    margin-top: -6%;
    margin-right: 26.3%;
    background-color: #BB4107;
    border: 0;
    border-radius: 10px;
    color: #FFFFFF;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    cursor: pointer;
}
.btn:hover{
	background-color: #ff5100;
}

.separator-line{
    background-color: #E5E5E5;
    width: 100%;
    height: 10px;
}

.footer-bottom{
    background: rgb(243,184,7);
    background: linear-gradient(90deg, rgba(243,184,7,1) 0%, rgba(222,139,7,1) 50%, rgba(194,79,7,1) 100%);
    width: 100%;
    height: 300px;
}

.footer-img-1{
    margin-left: 5%;
    margin-top: 5%;
}

.footer-img-2{
    margin-left: 5%;
    margin-top: 1%;
}

.copyright{
    margin-left: 5%;
    margin-top: 1%;
}

.footer-lista-1{
    float: right;
    margin-right: 35%;
    margin-top: -14%;
    list-style: none;
    line-height : 35px;
}

.footer-questions ul li a{
    color: #FFFFFF;
    font-size: 17px;
}

.return{
    float: right;
    margin-top: -18.8%;
    filter: brightness(1.1);
    cursor: pointer;
}
.up{
    float: right;
    margin-right: 1.5%;
    margin-top: -17.8%;
    filter: brightness(1.1);
    cursor: pointer;
}
